#body{
    background-color: plum;
}
.carousel-item .img-fluid {
    width:100%;
    height:auto;
  }
  
  .carousel-item{
    height: auto;
  }
  
  .carousel-item a {
    display: block;
    width:100%;
  }
  
  .carousel-item .show-image {
    display: block;
    width:100%;
  }

  df-messenger {
    --df-messenger-button-titlebar-color: #d8d8d8; /* タイトルバーとアイコンの背景色 */
    --df-messenger-button-titlebar-font-color: #27282b; /* フォントカラー */
  }